
.logoDrive {
    color: #a5d28b;
    font-size: 35px;
    margin: 0 5px;
}

header {
    border-bottom: 1px solid #E3E4E7;
    padding: 13px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    color: #5F6368;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.pictureUser {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.pictureUser:hover {
    opacity: 0.7;
}

.pictureUser2 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#accountGoogle {
    display: none;
    background-color: white;
    padding: 25px;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 4;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#logoSearch, #logoSliders {
    background-color: #F1F3F4;
    color: #5F6368;
    padding: 13.5px;
    font-size: 15px;
}

#logoSearch {
    border-radius: 10px 0 0 10px;
    margin-left: 150px;
}

#logoSliders {
    border-radius: 0 10px 10px 0;
}

#inputSearch {
    border: none;
    background-color: #F1F3F4;
    padding: 15px;
    font-size: 15px;
    width: 90%;
}