
main {
    display: flex;
    flex-direction: row;
}

#sectionTop {
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #E3E4E7;
    height: 55px;
}

#sectionBottom {
    width: 100%;
    overflow-y: scroll;
    height: 580px;
}

.title {
    color: #72757A;
    font-size: 12px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 85%;
}

.flexRow2 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}