
.Directory {
    border: 1px solid #E3E4E7;
    border-radius: 10px;
    padding: 2px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}

.Directory:hover {
    background-color: #F1F3F4;
}